#about {
  display: flex;
  flex-direction: column;

  .about-header {
    @include sectionHeader;
  }

  .personal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 250px;
      height: auto;
      border-radius: 50%;
      border: 3px solid $primaryColor;
    }
    p {
      padding: 1rem;
      min-width: 200px;
      max-width: 800px;
    }
  }

  .skills {
    display: grid;
    justify-items: center;
    text-align: center;
    .icons {
      display: grid;
      grid: 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      padding: 1rem;
      gap: 1rem;
    }
    img {
      width: 4rem;
      height: auto;
    }
  }
}

@media (max-width: 350px) {
  #about {
    .skills {
      .icons {
        gap: 1rem;
      }
      img {
        width: 2.75rem;
        height: auto;
      }
    }
  }
}

@media (min-width: 600px) {
  #about {
    .personal-info {
      flex-direction: row;
      padding: 4rem;
      padding-bottom: 0;
      gap: 6rem;
      margin-left: 10%;
      margin-right: 10%;
    }
    .skills {
      .icons {
        gap: 3rem;
      }
      img {
        width: 4rem;
        height: auto;
      }
    }
  }
}

@media (min-width: 1080px) {
  #about {
    .personal-info {
      flex-direction: row;
      padding: 4rem;
      padding-bottom: 0;
      gap: 6rem;
      margin-left: 10%;
      margin-right: 10%;
    }

    .skills {
      .icons {
        width: 90%;
        display: flex;
        justify-content: space-around;
        gap: 0;
      }
    }
  }
}
