nav {
  display: flex;
  justify-content: space-around;
  padding: 12px;
  font-size: 1.2rem;
  background-color: $secondaryColor;
  a {
    color: $textColor;
    text-decoration: none;
  }
  .active {
    color: $primaryColor;
    font-weight: bold;
  }
}

@media (min-width: 600px) {
  nav {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 1080px) {
  nav {
    justify-content: end;
    gap: 3rem;
    padding: 12px;
    padding-right: 10%;
  }
}
