#projects {
  display: flex;
  flex-direction: column;

  .projectsHeader {
    @include sectionHeader;
  }

  .projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
  }
}
