.project {
  position: relative;
  width: 100%;
  max-width: 1100px;
  .info {
    position: absolute;
    left: 0;
    width: 50%;
    max-width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 8px;
    margin-left: 1rem;
    background-color: rgba(57, 62, 70, 0.8);
    h2 {
      font-size: 1rem;
    }
    p {
      font-size: 0.75rem;
    }
    .links {
      display: flex;
      justify-content: space-around;
      a {
        color: $textColor;
        background-color: $primaryColor;
        text-decoration: none;
        border-radius: 4px;
        padding: 0.1rem 0.5rem;
      }
    }
  }
  .projectImage {
    display: flex;
    justify-content: end;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    img {
      width: 100%;
      max-width: 600px;
    }
  }
}

@media (min-width: 600px) {
  .project {
    .info {
      gap: 1rem;
      padding: 8px;
      margin-left: 1rem;
      h2 {
        font-size: 1.3rem;
      }
      p {
        font-size: 1rem;
      }
      .links {
        a {
          font-size: 1.2rem;
          border-radius: 4px;
          padding: 0.1rem 0.5rem;
        }
      }
    }
  }
}
