@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Code+Pro&display=swap");
#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  padding: 8px;
  height: 100vh;
  background-color: #393e46;
}

#home div {
  position: relative;
  font-size: 2.5rem;
  text-align: center;
  opacity: 0;
}

#home span {
  color: #00adb5;
  font-weight: 600;
}

#home .text-one {
  -webkit-animation: fadein 2s ease-in-out forwards, fadeleft 2s;
          animation: fadein 2s ease-in-out forwards, fadeleft 2s;
}

#home .text-two {
  -webkit-animation: fadein 2s ease-in-out 1s forwards, faderight 2s 1s;
          animation: fadein 2s ease-in-out 1s forwards, faderight 2s 1s;
}

#home a {
  position: relative;
  opacity: 0;
  font-size: 6rem;
  text-decoration: none;
  border: none;
  color: #00adb5;
  background-color: #393e46;
  -webkit-animation: fadein 2s ease-in-out 2s forwards, bounce 1s ease-in-out alternate infinite;
          animation: fadein 2s ease-in-out 2s forwards, bounce 1s ease-in-out alternate infinite;
}

@-webkit-keyframes bounce {
  from {
    top: -1.5rem;
  }
  to {
    top: 0;
  }
}

@keyframes bounce {
  from {
    top: -1.5rem;
  }
  to {
    top: 0;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeleft {
  from {
    left: -20rem;
  }
  to {
    left: 0;
  }
}

@keyframes fadeleft {
  from {
    left: -20rem;
  }
  to {
    left: 0;
  }
}

@-webkit-keyframes faderight {
  from {
    right: -20rem;
  }
  to {
    right: 0;
  }
}

@keyframes faderight {
  from {
    right: -20rem;
  }
  to {
    right: 0;
  }
}

nav {
  z-index: 3;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 54px;
  font-size: 1.2rem;
  background-color: #222831;
}

nav a {
  color: #eeeeee;
  text-decoration: none;
}

nav a.active,
nav a:hover {
  color: #00adb5;
  font-weight: bold;
}

@media (min-width: 600px) {
  nav {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 1080px) {
  nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 3rem;
    padding-right: 10%;
  }
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about .about-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

#about .about-header h1 {
  font-size: 2.5rem;
  text-align: center;
  white-space: nowrap;
}

#about .about-header div {
  width: 100%;
  height: 0px;
  border: 1px solid #00adb5;
}

#about .personal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .personal-info img {
  width: 250px;
  height: auto;
  border-radius: 50%;
  border: 3px solid #00adb5;
}

#about .personal-info p {
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 300px;
  max-width: 800px;
}

#about .skills {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
}

#about .skills .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  gap: 1rem;
}

#about .skills img {
  width: 4rem;
  height: auto;
}

#about .skills .express {
  -webkit-filter: invert(100%) sepia(2%) saturate(60%) hue-rotate(236deg) brightness(114%) contrast(87%);
          filter: invert(100%) sepia(2%) saturate(60%) hue-rotate(236deg) brightness(114%) contrast(87%);
}

@media (max-width: 350px) {
  #about .skills .icons {
    gap: 1rem;
  }
  #about .skills img {
    width: 2.75rem;
    height: auto;
  }
}

@media (max-width: 600px) {
  #about img {
    margin-bottom: 1rem;
  }
}

@media (min-width: 600px) {
  #about .personal-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 4rem;
    gap: 2rem;
    margin-left: 10%;
    margin-right: 10%;
  }
  #about .skills .icons {
    gap: 3rem;
  }
  #about .skills img {
    width: 4rem;
    height: auto;
  }
}

@media (min-width: 1080px) {
  #about .skills .icons {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 0;
  }
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects .projects-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding-bottom: 6rem;
}

#projects .projects-header h1 {
  font-size: 2.5rem;
  text-align: center;
  white-space: nowrap;
}

#projects .projects-header div {
  width: 100%;
  height: 0px;
  border: 1px solid #00adb5;
}

#projects .project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16rem;
  padding-bottom: 8rem;
}

.project {
  position: relative;
  width: 100%;
  max-width: 1100px;
}

.project .info {
  position: absolute;
  left: 0;
  width: 50%;
  max-width: 300px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  padding: 8px;
  margin-left: 1rem;
  background-color: rgba(57, 62, 70, 0.8);
}

.project .info h2 {
  font-size: 1rem;
}

.project .info p {
  font-size: 0.75rem;
}

.project .info .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project .info .links a {
  color: #eeeeee;
  background-color: #00adb5;
  text-decoration: none;
  border-radius: 4px;
  padding: 0.1rem 0.5rem;
}

.project .project-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.project .project-image img {
  width: 100%;
  max-width: 700px;
  -webkit-box-shadow: 0 10px 20px #222831;
          box-shadow: 0 10px 20px #222831;
}

@media (min-width: 600px) {
  .project .info {
    gap: 1rem;
    padding: 8px;
    margin-left: 1rem;
  }
  .project .info h2 {
    font-size: 1.3rem;
  }
  .project .info p {
    font-size: 1rem;
  }
  .project .info .links a {
    font-size: 1.2rem;
    border-radius: 4px;
    padding: 0.1rem 0.5rem;
  }
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .contact-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

#contact .contact-header h1 {
  font-size: 2.5rem;
  text-align: center;
  white-space: nowrap;
}

#contact .contact-header div {
  width: 100%;
  height: 0px;
  border: 1px solid #00adb5;
}

#contact .contact-message {
  max-width: 600px;
  padding-bottom: 1.2rem;
}

#contact .contact-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

#contact form {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 8px;
}

#contact form .sending {
  border: 2px solid #393e46;
  border-top: 2px solid #00adb5;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  -webkit-animation: spin 1.2s linear infinite;
          animation: spin 1.2s linear infinite;
}

#contact form textarea {
  resize: none;
  height: 5rem;
}

#contact form input {
  height: 1.5rem;
}

#contact form input,
#contact form textarea {
  width: 100%;
  max-width: 500px;
  border-radius: 0px;
  background-color: #eeeeee;
  color: #222831;
}

#contact form input:focus,
#contact form textarea:focus {
  outline: none;
  border: 2px solid #00adb5;
}

#contact form button {
  background-color: #00adb5;
  color: #eeeeee;
  border: none;
  border-radius: 4px;
  padding: 0.1rem 0.5rem;
  margin-top: 1.2rem;
  font-size: 1.2rem;
  font-weight: normal;
}

#contact form button:hover {
  cursor: pointer;
}

#contact .confirmation {
  text-align: center;
}

@media (max-width: 640px) {
  #contact .contact-header {
    margin-top: 1rem;
  }
  #contact p {
    text-align: center;
  }
  #contact form input {
    height: 1.2rem;
  }
  #contact form input,
  #contact form textarea {
    width: 75%;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6rem;
  height: 80px;
  background-color: #222831;
}

#footer img {
  width: 50px;
  height: 50px;
  -webkit-filter: invert(97%) sepia(60%) saturate(434%) hue-rotate(196deg) brightness(117%) contrast(87%);
          filter: invert(97%) sepia(60%) saturate(434%) hue-rotate(196deg) brightness(117%) contrast(87%);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 54px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Code Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #393e46;
  color: #eeeeee;
}
/*# sourceMappingURL=main.css.map */